<!DOCTYPE html>
<html lang="en" ng-app="suApp">
<head>
    <meta charset="UTF-8">
    <title>May the Form be with You</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-controller="SuCtrl as suCtrl">
<div class= "container">
    <div class=".col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 col-md-offset-4 col-lg-offset-4 ">
    <h1>SignUp Form</h1><br>
        </div>
<form ng-submit="suCtrl.submit() && suForm.$valid" novalidate name="suForm">
    <div class=".col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 col-md-offset-4 col-lg-offset-4 ">
    <div class="form-group">
        <label for="name-id">Name</label>
    <input type = "text" id="name-id" required autofocus ng-model="suCtrl.contact.name" required>
        <h1>{{suCtrl.contact.name}}</h1>

    </div>

        <div class="form-group">
            <label for ="email-id">Email</label>
            <input type="email" name="email" id="email-id" ng-model="suCtrl.contact.email" ng-required="true" ng-class=""has-error>
            </div>
        <div  class="validation-error"
                ng-show="suForm.email.$error.email">
            <h5 class="text-warning">Valid email is required</h5>
        </div>

        <div class="form-group">
            <label for="password-id">Password</label>
            <input type="password" id="password-id" ng-model="suCtrl.contact.password" ng-required="true">
        </div>
        <div  class="validation-error"
              ng-show="suForm.password.$error.password">
            <h5 class="text-warning">Valid email is required</h5>
        </div>
        <!--<div ng-show="suCtrl.submit.$invalid">-->
            <!--<h5 class="text-warning">Requires at least 1 number</h5>-->
        <!--</div>-->

        <div class="form-group">
        <label>Gender</label>
            <label class="radio-inline">
            <input type="radio" name="gender" value="Male" ng-model="suCtrl.contact.gender" required>Male
                </label>
                <label class="radio-inline">
            <input type="radio" name="gender" value="Female" ng-model="suCtrl.contact.gender" required>Female
                    </label>
        </div>
        <div  class="validation-error"
              ng-show="suForm.gender.$error.gender">
            <h5 class="text-warning">selection required</h5>
        </div>

        <div class="form-group">
            <input type ="date" name="DOB" ng-model="suCtrl.contact.DOB" required>
        </div>
    <!--date of birth-->

        <div class="form-group">
            <label for ="address-id">Address</label>
            <input type="text" id="address-id" ng-model="suCtrl.contact.address" >
        </div>
        <!--<div data-ng-show="suCtrl.submit.$invalid">-->
            <!--<h5 class="text-warning">Invalid Address</h5>-->
        <!--</div>-->

        <div class="form-group">
            <label for ="country-id">Country</label>
            <input type="text" id="country-id" ng-model="suCtrl.contact.country">

        </div>
        <!--<div data-ng-show="suCtrl.submit.$invalid">-->
            <!--<h5 class="text-warning">Invalid Country</h5>-->
        <!--</div>-->
        <div class="form-group">
            <label for="contact-id">Phone Number</label>
            <input type="text"
                   name="number"
                   id ="contact-id"
                   ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/"
                   ng-model="suCtrl.contact.number"
                   ng-required="true"
                   ng-class="has-error"/>
        </div>
        <span class="validation-error"
                 ng-show="(
                           suForm.number.$error.pattern &&
                           suForm.number.$dirty) ">
                           phone number is not valid
                         </span>

        <button type="submit" ng-disable="suForm.$invalid" ng-click="suCtrl.getinfo()">Submit</button>
    <!--submit-->
</div>
</form>
</div>
</body>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="app/app.js"></script>

</html>